/*
 *
 * Pura CSS
 *
 * Inspired by and forked from Tailwinds CSS.
 *
 */

 /*
  * Flex
  */

.flex {
  display: flex;
}

/*
 * Gap
 */

.gap-0 {
  gap: 0px;
}

.gap-x-0 {
	column-gap: 0px;
}

.gap-y-0 {
	row-gap: 0px;
}
